h1 {
    color:red
}
* {
    border:solid
}
.header{
    display: flex;
    background-color:red;
    justify-content: space-between;
    align-items: center;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 3;

}
.footer{
    display: flex;
    justify-content: flex-end;
    flex-grow: 3;
    flex-wrap: wrap-reverse;

}
body{
    background-color: rgb(3,169,159);
    background-image: url("k.jpg"),url("kl.jpg");
}
body { font-family: Helvetica, Arial, sans-serif; }